<div class="okeReviews-widget-holder">
  <div id="reviews" style="display: none;" data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
</div>