<section class="giveaway-sign-up">
  <div class="page-width">
    <div class="giveaway-sign-up-row">
      <!--
        <div class="giveaway-sign-up-content">
          <h2>{{ section.settings.heading }}</h2>
        </div>
      -->
      <div class="giveaway-sign-up-form">
        <!--
          <form>
            <h4>Email Address</h4>
            <div class="giveaway_form_row">
              <div class="giveaway_form_field">
                <input type="email" placeholder="Enter your email address">
              </div>
              <div class="giveaway_form_btn">
                <input type="submit" value="SIGN UP">
              </div>
            </div>
          </form>
        -->
        <div class="klaviyo-form-WknjGu"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Giveaway Sign Up",
  "settings": [
      {
          "type": "text",
          "id": "heading",
          "label": "Text"
    }
  ],
  "presets":
    [
      {
      "name":"Giveaway Sign Up"
      }
    ]

}
{% endschema %}
