{% stylesheet %}  
{% endstylesheet %}  
<div class="page-width holiday-gift-collection-all">
  <div class="collection-list">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection' %}
            <div class="collection-list__item">
              {%- assign collection = collections[block.settings.collection] -%}
              {%- assign title = collection.title | escape -%}
              {%- assign description = collection.description  -%}
        <h3 class="text-normal text-black bold lg_text">{{ collection.title }}</h3>
              {% if block.settings.collection-description != blank %}
              <p class="sm_text">{{ block.settings.collection-description }}</p>
              {% endif %}
              <div class="slider-wrapper">
                 
                  <div class="content-item desktop-hide non-dynamic-style">
                    <div class="product-content relative">
                       <h3>{{ block.settings.pd_title }}</h3>
                      <div class="rte">
                         {{ block.settings.info }}
                      </div>
                    </div>
                  </div>                
                {% include 'holiday-collection-slider', hideSwatch: block.settings.swatch %}
              </div>
            </div>
      {% endcase %}   
      {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Limited Collection",
    "class" : "arrivalcollection-limited",
    "blocks": [
     {
      "type": "collection",
      "name": "Collection",
      "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
        {
          "type" : "textarea",
          "id" : "collection-description",
          "label" : "Collection Description"
        },
          {
            "label": "Hide Swatch Desktop",
            "id": "swatchdesk",
            "type": "checkbox",
            "default": false
          },
          {
            "label": "Hide Swatch Mobile",
            "id": "swatchmobi",
            "type": "checkbox",
            "default": true
          }        
      ]
    }
  ],
    "presets": [
      {
        "name" : "New arrival Collection homepage"
      }
    ]
  }
{% endschema %}