<div class="collection-hero">
<div class="collection-hero__inner page-width">
<div class="collection-hero__text-wrapper">
<h2 class="h2 collection-hero__title">
<span class="visually-hidden">Collection: </span>{{ collection.title }}
</h2>
  {% if collection.description %}
    <div class="collection_description">{{ collection.description }}</div>
  {% endif %}
</div></div>
</div>
{% section 'collection-timer' %}
{% section 'collectionwithslider' %}
{% section 'newcolor-theme' %}
