<div class="materials_page_wrap">  

  {% comment %}
  {% section 'section-privacy' %}
  {% section 'section-privacy-mission' %}
  {% endcomment %}
  {% section 'newlayout-privacy' %}

</div>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>