<div class="leather_care_page">
  {% section 'section-leather-care' %}
</div>
<!-- 
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
<script>
  AOS.init();
</script>

