<div class="our_story_page_wrap">
  {% section 'section-our-story' %}
  {% section 'section-our-founders' %}
  {% section 'section-our-story-mission' %}
  {% section 'section-our-story-movement' %}
</div>
{% comment %}
<div class="our_story_page">
  {% section 'section-about-banner' %}
  {% section 'section-about-content' %}
</div>
{% endcomment %}
